extends layout
block vars
    - title = 'Error!'

block content
    #error-page
        .panel.panel-danger
            .panel-heading
                h1.panel-title #{status} &ndash; #{message}
            .panel-body
                pre #{detailMessage}
