body {
    background-image: url('/images/background.png');
    color: #def;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
}

ul.custom-nav {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: absolute;
    margin: 10px 0 0 0;
    right: 0;
}

.custom-page-header {
    position: relative;
}

.custom-page-header h1 {
    margin-right: 80px;
}

button.custom-navbar-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #333;
}

.custom-navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.custom-navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.no-height {
    height: 0px;
}

.custom-navbar-collapse.collapsing {
    /*display: block!important;*/
    /*height: auto!important;*/
}

ul.custom-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: solid 1px #252525;
    border-left: solid 1px #252525;
}

@media (min-width: 768px) {
    .custom-navbar-toggle {
        display: none;
    }
    .custom-navbar-collapse {
        display: block!important;
    }
    ul.custom-nav {
        margin: 0;
        bottom: 0;

        background-color: rgba(255, 255, 255, 0.1);
    }
    ul.custom-nav li {
        float: left;
    }
}

ul.custom-nav li.active a {
    background-color: #7f1a47;
}

ul.custom-nav li a:hover {
    background-color: #b71c61;
}

img.score {
    box-shadow: 0 0 29px #555;
}

#footer > .container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#error-page {
    padding-top: 50px;
}

#mods-checkboxes-input .checkbox-inline {
    position: relative;
}

.form-control {
    color: black;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #ff66aa;
    border-color: #e85999;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #ef569a;
    border-color: #e85999;
}

.control-label {
    color: #ff66aa;
}

h2 {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-color: #999;
}

h3 {
    color: white;
    border-bottom: dotted 1px #666;
}

legend {
    color: white;
    border-style: dotted;
    border-color: #666;
}

.disclaimer {
    color: red;
}

#result-img {
    margin-bottom: 15px;
}

#result-col, #back-btn-col {
    margin: 10px 0;
}

#back-btn-col {
    text-align: right;
}

#go-back-btn {
    width: 100%;
}

.sidenote {
    margin: 10px;
}

.kek {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

strong.hype {
    color: #ff66aa;
}

.toggle-link {
    text-align: center;
    margin-top: -15px;
}

#map-display, #map-display-comment {
    text-align: center;
    font-size: larger;
}

#map-display p>span {
    color: #ff66aa;
}

#map-display-image {
    width: 300px;
    margin-bottom: 10px;
}

hr.dark {
    margin-bottom: 5px;
    border-color: #333;
}

#progress-bar > .progress {
    height: 34px;
}
#progress-bar > .progress > .progress-bar {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
}

#result-error-header, #result-error-text, .is-error-message {
    color: #ff0033;
}

#result-error-header {
    font-weight: bold;
    font-size: 22px;
}

#choose-score p {
    font-weight: bold;
    font-size: large;
}

.input-group.input-group-lg .copy-to-clipboard-btn {
    padding: 10px;
}
.input-group.input-group-lg .copy-to-clipboard-btn img {
    height: 24px;
    margin-top: -4px;
}
.input-group.input-group-sm .copy-to-clipboard-btn {
    padding: 7px;
}
.input-group.input-group-sm .copy-to-clipboard-btn img {
    height: 16px;
    margin-top: -6px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#submit-btn-row {
    margin-top: 30px;
}
