body {
    background-image: url('/images/background.png');
    color: #def;
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
}

img.score {
    box-shadow: 0 0 29px #555;
}

#footer > .container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#error-page {
    padding-top: 50px;
}

.form-control {
    color: black;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #ff66aa;
    border-color: #e85999;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #ef569a;
    border-color: #e85999;
}

.control-label {
    color: #ff66aa;
}

h2 {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

legend {
    color: white;
    border-style: dotted;
}

.disclaimer {
    color: red;
}

#resultImg {
    margin-bottom: 30px;
}

.sidenote {
    margin: 10px;
}

.kek {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.toggle-beatmap-selection-style {
    text-align: center;
    margin-top: -15px;
}
