osu-api:
    key: <API KEY HERE>

discord:
    webhook:
        id: <DISCORD WEBHOOK ID HERE>
        secret: <DISCORD WEBHOOK SECRET HERE>

telegram:
    botToken: <TELEGRAM BOT-TOKEN HERE>
    chatId: <TELEGRAM CHAT-ID HERE>

# to run on tcp port instead uncommend the following:
#http:
#    listen: 8080 # or any other port
#    host: localhost # or 0.0.0.0 for any interface, or something specific

# alter redis connection settings if needed
#redis:
#    path: /var/run/redis/redis.sock # for example, listen on a unix socket
#    db: 1 # or connect to different db

# Maybe use a different domain for the actual images
#image-result-url: "{protocol}://example.com/{image-id}.png"

# Use another Google Analytics code, or set to false to disable
gaCode: false
