extends ../layout

block vars
    - title = 'Contact'
    - meta_description = 'Get in touch!'

block content
    div.container
        div.page-header
            h1= title
        div
            p This is the future page of a fancy contact-page
            p For now:
            ul
                li github: #[a(href='https://github.com/omkelderman/osu-scores') omkelderman/osu-scores]
                li twitter: #[a(href='https://www.twitter.com/omkelderman') @omkelderman]
                li osu!: #[a(href='https://osu.ppy.sh/u/2756335') oliebol]
                li email: #[a(href='mailto:olle@omkserver.nl') olle@omkserver.nl]
            p #[a(href='/') Go back to the homepage] and create more awesome pictures to share!
