extends ../layout

block vars
    - title = 'Contact'
    - meta_description = 'Get in touch!'

block content
    p.
        Hi! My name is Olle Kelderman. I'm pretty reachable. Here are some ways to get in touch with me.
        If you want to report bugs or other issues with the site, I'd prefer github or discord.
        If you just want to contact me about whatever, pick your prefered method.
    p: a(href='https://discord.gg/Py73HDA'): img(alt='Join discord!', src='https://discordapp.com/api/guilds/369486702177157121/widget.png?style=banner2')
    p Join my discord server for questions, bug-reports, and general support!
    p.
        The project is also on GitHub: #[a(href='https://github.com/omkelderman/look-at-my-score') omkelderman/look-at-my-score]
        #[br]
        Feel free to report issues, create feature requests, or submit Pull Requests on there!
    p Other ways of contacting me directly:
    ul
        li Twitter: #[a(href='https://www.twitter.com/omkelderman') @omkelderman]
        li osu!: #[a(href='https://osu.ppy.sh/u/2756335') oliebol]
        li Email: #[a(href='mailto:olle@omkserver.nl') olle@omkserver.nl]
        li Telegram: #[a(href='https://t.me/omkelderman') @omkelderman]
